name: Build & Publish
env:
    APP_NAME: fast-osmpbf-js
on:
    push:
        branches:
            - main

jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                settings:
                    - host: ubuntu-latest
                      target: x86_64-unknown-linux-gnu
                      build: npm run build -- --target x86_64-unknown-linux-gnu --use-napi-cross
                    - host: macos-latest
                      target: x86_64-apple-darwin
                      build: npm run build -- --target x86_64-apple-darwin
                    - host: windows-latest
                      target: x86_64-pc-windows-msvc
                      build: npm run build -- --target x86_64-pc-windows-msvc
        runs-on: ${{ matrix.settings.host }}
        steps:
            - uses: actions/checkout@v6

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: 24

            - name: Setup Rust
              uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: stable
                  targets: ${{ matrix.settings.target }}

            - name: Install dependencies
              run: npm install
              working-directory: ${{ env.APP_NAME }}

            - name: Build
              run: ${{ matrix.settings.build }}
              working-directory: ${{ env.APP_NAME }}

            - name: Upload artifact
              uses: actions/upload-artifact@v5
              with:
                  name: bindings-${{ matrix.settings.target }}
                  path: |
                      ${{ env.APP_NAME }}/*.node
                  if-no-files-found: error

    publish:
        name: Publish to npm
        runs-on: ubuntu-latest
        needs: build
        steps:
            - uses: actions/checkout@v6

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: 24

            - name: Install dependencies
              run: npm install
              working-directory: ${{ env.APP_NAME }}

            - name: Create npm dirs
              run: npx napi create-npm-dirs
              working-directory: ${{ env.APP_NAME }}

            - name: Download prebuilt binaries
              uses: actions/download-artifact@v6
              with:
                  path: ${{ env.APP_NAME }}/artifacts/

            - name: Move artifacts into root folder
              run: |
                  mv artifacts/* ./
              working-directory: ${{ env.APP_NAME }}

            - name: Check what will be published
              run: npm pack --dry-run
              working-directory: ${{ env.APP_NAME }}

            - name: Publish package
              run: |
                  echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
                  npm publish --access public
              working-directory: ${{ env.APP_NAME }}
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
