name: Build & Publish

on:
    push:
        branches:
            - main

jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                settings:
                    - host: ubuntu-latest
                      target: x86_64-unknown-linux-gnu
                      build: yarn build --target x86_64-unknown-linux-gnu --use-napi-cross
                    - host: macos-latest
                      target: x86_64-apple-darwin
                      build: yarn build --target x86_64-apple-darwin
                    - host: windows-latest
                      target: x86_64-pc-windows-msvc
                      build: yarn build --target x86_64-pc-windows-msvc
        runs-on: ${{ matrix.settings.host }}
        steps:
            - uses: actions/checkout@v6

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: yarn

            - name: Setup Rust
              uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: stable
                  targets: ${{ matrix.settings.target }}

            - name: Install dependencies
              run: yarn install
              working-directory: fast-osmpbf-js

            - name: Build
              run: ${{ matrix.settings.build }}
              working-directory: fast-osmpbf-js

            - name: Upload artifact
              uses: actions/upload-artifact@v5
              with:
                  name: bindings-${{ matrix.settings.target }}
                  path: fast-osmpbf-js/prebuilds/*
    publish:
        name: Publish to npm
        runs-on: ubuntu-latest
        needs: build
        steps:
            - uses: actions/checkout@v6

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: 24

            - name: Install dependencies
              run: yarn install
              working-directory: fast-osmpbf-js

            - name: Download prebuilt binaries
              uses: actions/download-artifact@v6
              with:
                  path: fast-osmpbf-js/prebuilds/

            - name: Move prebuilt binaries into package
              run: yarn artifacts
              working-directory: fast-osmpbf-js

            - name: Publish package
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
              run: |
                  echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
                  yarn publish --access public
              working-directory: fast-osmpbf-js
